@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  /* Color Palette */
  --color-primary-50: #f4f1ff;
  --color-primary-100: #ede5ff;
  --color-primary-200: #dcceff;
  --color-primary-300: #c3a7ff;
  --color-primary-400: #a776ff;
  --color-primary-500: #8f3fff;
  --color-primary-600: #8418ff;
  --color-primary-700: #7807fa;
  --color-primary-800: #6505d2;
  --color-primary-900: #5406ac;
  --color-primary-950: #330077;

  /* width */
  --container-width: 1720px;

  /* Fonts */
  --font-inter: 'Inter';

  /* Paddings */
  --padding-medium: 48px;

  /* Margins */
  --margin-xxs: 12px;
  --margin-xs: 24px;
  --margin-medium: 48px;
  --margin-xmedium: 62px;
  --margin-big: 72px;
  --margin-container: 100px;

  /* Rounded Values */
  --radius-app: 5px;
}

body {
  background-color: #111111;
}

.btn-primary {
  background: linear-gradient(
    180deg,
    rgba(120, 2, 255, 1) 0%,
    rgba(74, 38, 115, 1) 100%
  );
  color: var(--color-primary-50);
  padding: 12px 24px;
  border-radius: var(--radius-app);
  font-family: var(--font-inter);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
